.td {
    width: 30px;
    height: 30px;
    border-color: black;
    border-style:dashed;
    border-width: 1px;
    align-content: center;
}

.title {
    margin-left: 20px;  
}

.td-0-false {
    background-image: url(../public/O.png);
    background-size: contain;
    opacity: 0.8;
}
.td-0-true {
    background-image: url(../public/O.png);
    background-size: contain;
    background-color: rgba(255, 2, 36, 0.678);
    opacity: 0.8;
}

.td-1-false {
    background-image: url(../public/X.png);
    background-size: contain;
    opacity: 0.8;

}

.td-1-true {
    background-image: url(../public/X.png);
    background-size: contain;
    background-color: rgb(179, 32, 51);
    opacity: 0.8;
}

.endgame-header-true {
    display: block;
    color:brown;
    margin-left: 20px;

}

.endgame-header-false {
    display:none;
    margin-left: 20px;
    
}
.win-amount-header {
    margin-left: 20px;
}

.turn-header-true {
    display: none;
    margin-left: 20px;

}

.turn-header-false {
    display:block;
    margin-left: 20px;
    
}

table {
    /* border-spacing: 0; */
    border-collapse:collapse;
    margin-left: 20px;
    margin-top: 10px;
}

.wrap-input-win-amount{
    display: flex;
    align-items: center;
    height:30px;
    

}

.input-win-amount {
    border-width: 1px;
    padding-left: 5px;
    margin-left: 20px;
    width: 200px;
    height: 85%;
    border-radius: 5px;

}

.button-input-win-amount {
    border-style: inset;
    border-width: 1px;
    padding: 0;
    height: 100%;
    margin-left: 3px;
    width:50px;
    border-radius: 5px;

}

.main-table {
    border-spacing: 0;
}