.td {
    width: 30px;
    height: 30px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    align-content: center;
}

.td-0-false {
    background-color: rgb(70, 73, 255);
}
.td-0-true {
    background-color: rgb(2, 3, 71);
}

.td-1-false {
    background-color: rgb(25, 255, 75);
}

.td-1-true {
    background-color: rgb(0, 153, 0);
}

.endgame-header-true {
    display: block;

}

.endgame-header-false {
    display:none;
    
}

.main-table {
    border-spacing: 0;
}